<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>About</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/works">Works</a></li>
    </ul>
  </nav>
  <div class="container">
    <h1>About Maria Svarbova</h1>
    <div id="about-contents">
      <div>
        <img src="/img/440px-Maria_Svarbova_taking_picture.jpg" alt="">
      </div>
      <div id="about-text">
        <p>Maria Svarbova (born in 1988) is a Slovak fine-art photographer. Svarbova's most recognized collection is In the Swimming Pool.</p>
        <p>Maria Svarbova works depict socialist-era architecture, public spaces and routine actions of daily life. The Guardian has described her work as "inspired by the stark architecture" of Slovakia. She prefers brutalist architecture and functionalism. She experiments with colours, space and symmetry of composition. CNN has described her typical post-production process as "the bodies are multiplied, colors are enhanced and asymmetrical elements are erased." Juxtapoz Magazine declares that characters in Svarbova's photographies "have chosen to give up any kind of extravagance that might unmask them". Each scene is meticulously designed, especially with regard to the colors of the props and the minimalist poses of the models; the photographer relies on a lighting and costume team to do this.
        </p>
      </div>
    </div>
  </div>
  
</body>
</html>